@{
    ViewBag.Title = "_Footer";
}
<div class="footer-content">
    <label>Liên hệ</label>
    <p>
        <span class="bold uppercase">công ty cổ phần kiến trúc lê xuân quyền</span>
    </p>
    <p>
        <span class="bold">Địa chỉ: tầng 1, tòa nhà KeangNam, Mễ Trì, Hà Nội</span>
    </p>
    <p>
        <span class="bold">Email : </span> xuanquyentvtk@gmail.com
    </p>
    <p>
        <span class="bold">SĐT : </span>  0966932123
    </p>
</div>
<div class="footer-bottom">
    <p>
        © Copyright 2011-2014&nbsp;maunhadep.vn |  ® Ghi rõ nguồn "maunhadep.vn" khi phát hành lại thông tin từ website này.
    </p>
</div>