@{
    ViewBag.Title = "Header";
}
<div class="header-content">
    <div class="logo">

    </div>
    <div class="navi">

    </div>
    <div class="clear"></div>
    <div class="menu">
        <div class="menu-content">
            <ul class="menu-header">
                <li>
                    <a title="Trang chủ" href="/">Trang chủ</a>
                </li>
                <li>
                    <a title="Thiết kế biệt thự" href="/">Thiết kế biệt thự</a>
                </li>
                <li>
                    <a title="Thiết kế nội thất" href="/">Thiết kế nội thất</a>
                </li>
                <li>
                    <a title="Thi công chống thấm" href="/">Thi công chống thấm</a>
                </li>
            </ul>
            <div class="contact">
                <div class="phone">
                    0966932123
                </div>
                <div class="email">
                    xuanquyentvtk@gmail.com
                </div>
            </div>
        </div>
    </div>
    <div class="bg-search">

    </div>
</div>
