@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="left-Content">
        <div class="productlist product_default">
            <h1 class="titlebox">
                <span class="bg_left"></span>Thiết kế biệt thự
            </h1>
            <div class="listbox">
                <div class="item first">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421092737-d4d3.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421130732-2117.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item last">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421134616-b15c.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                                Sỡ hữu nhà 2 MT 1 trệt 1 lầu với giá không thể sốc hơn: 750 triệu/căn
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="productlist product_default">
            <h1 class="titlebox">
                <span class="bg_left"></span>Thiết kế nhà ống
            </h1>
            <div class="listbox">
                <div class="item first">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421092737-d4d3.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421130732-2117.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item last">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421134616-b15c.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                                Sỡ hữu nhà 2 MT 1 trệt 1 lầu với giá không thể sốc hơn: 750 triệu/căn
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="productlist product_default">
            <h1 class="titlebox">
                <span class="bg_left"></span>Thiết kế nội thất
            </h1>
            <div class="listbox">
                <div class="item first">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421092737-d4d3.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421130732-2117.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item last">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421134616-b15c.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                                Sỡ hữu nhà 2 MT 1 trệt 1 lầu với giá không thể sốc hơn: 750 triệu/căn
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="productlist product_default">
            <h1 class="titlebox">
                <span class="bg_left"></span>Thi công chống thấm
            </h1>
            <div class="listbox">
                <div class="item first">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421092737-d4d3.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="/ban-can-ho-chung-cu-sai-gon-mia/sai-gon-mia-hot-chiet-khau-khung-10-25-lien-he-ngay-cdt-de-co-co-hoi-hap-dan-pr3043007.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421130732-2117.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-duong-dong-thanh-4-xa-dong-thanh/nha-gan-truong-thpt-nguyen-huu-tien-pr3043005.htm">
                                Sài Gòn Mia -  Hot CK khủng 10-25% - LH ngay cđt để có cơ hội háp dẫn
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="item last">
                    <a class="avatar" href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                        <img src="http://chuyennhadat.com.vn/chuyen_nha_dat_crop_226_143_nd_3.20160421134616-b15c.jpg">
                    </a>
                    <div class="wr_info">
                        <h4 class="title">
                            <a href="http://chuyennhadat.com.vn/ban-nha-rieng-binh-chanh/so-huu-nha-2-mat-tien-1-tret-1-lau-voi-gia-khong-the-soc-hon-750-trieu-can-pr3043003.htm">
                                Sỡ hữu nhà 2 MT 1 trệt 1 lầu với giá không thể sốc hơn: 750 triệu/căn
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-Content">

        <div class="box_right">
            <h2 class="titlebox">
                <span class="bg_left"></span>
                Biệt thự cao cấp
                <span class="bg_right"></span>
            </h2>
            <div class="box_count_content">
                <ul>
                    <li>
                        <a href="http://vinavic.vn/biet-thu-tan-co-dien.html">Biệt thự tân cổ điển</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/biet-thu-co-dien.html">Biệt thự cổ điển</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/biet-thu-hien-dai.html">Biệt thự hiện đại</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box_right">
            <h2 class="titlebox">
                <span class="bg_left"></span>
                Kiến trúc đẹp
                <span class="bg_right"></span>
            </h2>
            <div class="box_count_content">
                <ul>
                    <li>
                        <a href="http://vinavic.vn/thiet-ke-lau-dai-dinh-thu.html">Thiết kế lâu đài - Dinh thự</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/thiet-ke-nha-hang.html">Thiết kế nhà hàng</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/thiet-ke-khach-san-van-phong.html">Thiết kế khách sạn - văn phòng</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box_right">
            <h2 class="titlebox">
                <span class="bg_left"></span>
                Thi công xây dựng
                <span class="bg_right"></span>
            </h2>
            <div class="box_count_content">
                <ul>
                    <li>
                        <a href="http://vinavic.vn/thi-cong-xay-dung-nha-pho.html">Thi công xây dựng nhà phố</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/thi-cong-xay-dung-nha-biet-thu.html">Thi công xây dựng nhà biệt thự</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/thi-cong-xay-dung-nha-xuong.html">Thi công xây dựng nhà xưởng</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box_right">
            <h2 class="titlebox">
                <span class="bg_left"></span>
                Tiểu cảnh sân vườn
                <span class="bg_right"></span>
            </h2>
            <div class="box_count_content">
                <ul>
                    <li>
                        <a href="http://vinavic.vn/tieu-canh-dep.html">Tiểu cảnh đẹp</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/san-vuon-dep.html">Sân vườn đẹp</a>
                    </li>
                    <li>
                        <a href="http://vinavic.vn/thi-cong-tieu-canh-san-vuon.html">Thi công tiểu cảnh sân vườn</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
